body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 60px;
    border: 2px solid red;
    display: flex;
}

header .containerBrand{
    border: 1px solid black;
    width: 20%;
    height: 100%;
}

header .containerItemList{
    border: 1px solid black;
    width: 60%;
    height: 100%;
}


header .containerCart{
    border: 1px solid black;
    width: 20%;
    height: 100%;
}